{% extends "base.html" %}

{% block title %} Show content {% endblock %}

{% block content %}
  <div class="container">

    <h1>Citas actuales</h1>
    {% if object_brand and object_car_model and object_year %}

    <h2>
      Bienvenido a la pagina del {{object_brand}} {{object_car_model}} del {{object_year}}
    </h2>

    {%else%}

      {% for car_pk, values in car_dict.items %}
        <a href="{% url 'show' values.pk %}">
          <h3>
            {{values.brand}} {{values.model}}, year {{values.year}}
          </h3>
        </a>
      {% endfor %}

    {% endif %}
  </div>

{%endblock%}
