{% extends "base.html" %}

{% block title %} Mecánico {% endblock %}


{% block content %}
  <div class="container">

    <h1>Lista de autos por atender</h1>
    {% if brand and car_model and year and pk and user%}
      <h2>
        Cita pendiente del {{brand}} {{car_model}} del {{year}},
        con identificador {{pk}} y
        propiedad de {{user}}.
        Mecánico encargado {{provider}}
      </h2>
    <a href="{% url 'create' pk %}">
      <h3>
        MODIFICAR
      </h3>
    </a>

    <a href="{% url 'delete' pk %}">
      <h3>
        ELIMINAR
      </h3>
    </a>

    {%else%}

      {% for car_pk, values in car_dict.items %}
        <a href="{% url 'staff' values.pk %}">
          <h3>
            {{values.brand}} {{values.car_model}}, year {{values.year}}
          </h3>
        </a>
      {% endfor %}
    {% endif %}
  </div>
{%endblock%}
