{% extends "base.html" %}

{% block title %}
Mecánico
{% endblock %}


{% block content %}
  <div class="container">

    <h1>Lista de autos por atender</h1>
    {% if brand and car_model %}
      <h2>
        <br> Cita pendiente de atender: {{brand}} {{car_model}} del {{year}} <br>
        <br> Identificador: {{pk}} <br>
        <br> Fecha: {{date}} <br>
        <br> Propiedad de {{user}} <br> <br>
      </h2>
    <a href="{% url 'create' pk %}">
      <h3>
        Modificar
      </h3>
    </a>

    <a href="{% url 'delete' pk %}">
      <h3>
        Eliminar
      </h3>
    </a>

    {%else%}

      {% for car_pk, values in car_dict.items %}
        <a href="{% url 'staff' values.pk %}">
          <h3>
            {{values.brand}} {{values.car_model}}, year {{values.year}}
          </h3>
        </a>
      {% endfor %}
    {% endif %}
  </div>
{%endblock%}
