{% extends "base.html" %}

{% block title %} Citas {% endblock %}

{% block content %}
  <div class="container">

    <h1>Citas actuales</h1>
    {% if brand and car_model and year and day and schedule and provider %}

    <h2>
      Usted tiene una cita pendiente, para un {{brand}} {{car_model}} del {{year}}
      para el día {{day}} a las {{schedule}}. <br> <br>
      Mecánico encargado: {{provider}}
    </h2>
    <a href="{% url 'create' pk %}">
      <h3>
        MODIFICAR
      </h3>
    </a>

    <a href="{% url 'delete' pk %}">
      <h3>
        ELIMINAR
      </h3>
    </a>


    {%else%}

    {% for td in user.car.all %}
        <a href="{% url 'view' td.pk %}">
          <h3>
            {{td.brand}} {{td.car_model}}, año {{td.year}}
          </h3>
        </a>
      {% endfor %}

    {% endif %}
  </div>

{%endblock%}
